@import "https://fonts.googleapis.com/css?family=Open+Sans";

body {
  background-color: rgb(241, 241, 241);
}

/* input {
  width: 100%;
  margin: 5px 0 10px;
  padding: 10px;
  border: 1px solid rgb(226 226 226);
  border-radius: 3px;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
} */

.header-text {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  display: inline-block;
  font-size: 40px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  float: left;
  letter-spacing: 12px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.book-logo {
  display: inline-block;
  width: 21%;
  float: left;
}

.entries-header {
  display: inline-block;
  float: right;
  margin-left: 20px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 70px;
}

#explore-header,
#blogs-header,
#account-header {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(139, 139, 139);
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid rgb(122, 122, 122);
}

#entries-header:hover {
  color: #000;
}

.top-header {
  width: 975px;
  height: 130px;
  margin: auto;
}

#submit {
  width: 100px;
  font-size: 16px;
  background-color: #552b81;
  color: white;
  margin: 15px 1px;
  padding: 10px 20px 8px;
  border: 1px solid rgb(226 226 226);
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

#new {
  width: 100px;
  font-size: 16px;
  background-color: #565656;
  color: white;
  padding: 10px 20px 8px;
  border: 1px solid rgb(226 226 226);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#submit:hover {
  background-color: white;
  color: #552b81;
}

#new:hover {
  background-color: white;
  color: #552b81;
}

.column-entries {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

header {
  padding: 10px;
  background: #aeaeae;
  color: white;
  width: 100%;
}

.placeholder {
  margin-bottom: 5px;
  width: 100%;
}

h2 {
  margin-left: 10px;
}

h3 {
  margin: auto;
  padding: 10px 2px;
}

textarea {
  margin-top: 5px;
  width: 100%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  border: 1px solid rgb(226 226 226);
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

textarea:focus {
  outline: none !important;
  border: 2px solid purple;
}

label {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

li:nth-child(n+1) {
  list-style: none;
}

li > h2 {
  color: rgb(0, 0, 0);
}

p {
  margin-left: 10px;
}

.place-holder-description {
  text-align: center;
}

img {
  width: 450px;
}

ul {
  padding-inline-start: 0;
}

i {
  margin-left: 15px;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.delete-entry {
  margin: 20px 0 0 2px;
  color: red;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  height: 170px;
  border-radius: 5px;
}

.show-modal {
  display: block;
  position: fixed;
  padding-top: 400px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 30%);
}

.modal {
  position: fixed;
  padding-top: 400px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 60%);
}

#button-cancel,
#button-confirm {
  border: none;
  color: white;
  margin: 30px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

#button-cancel {
  background-color: rgb(177, 177, 177);
  color: black;
}

#button-confirm {
  background-color: red;
}

.modal-p {
  margin: 55px 0 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.modal-body {
  display: flex;
  justify-content: center;
}

@import "https://fonts.googleapis.com/css?family=Open+Sans";

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  background-color: #a83e3e;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  *margin-left: 0.3em;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #b6b6b6;
  cursor: pointer;
}

.btn-large {
  padding: 9px 4px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
}

.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: rgb(206, 206, 206);
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #272727;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #707070;
}

.btn-block {
  width: 100%;
  display: block;
}

#sign-up {
  background-color: rgb(86, 86, 86) !important;
  width: 130px !important;
  margin: auto !important;
}

#sign-up:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #e8e8e8;
  background: radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(-45deg, #670d10 0%, #092756 100%);
}

input {
  width: 100%;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  background: rgb(248, 248, 248);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: rgb(59, 59, 59);
  border: 1px solid rgba(170, 170, 170, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.5s ease;
}

input:focus {
  outline: none !important;
  border: 1px solid rgb(0, 0, 0);
}

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 330px;
  height: 370px;
  background-color: rgb(198, 198, 198);
  border-radius: 5px;
  padding: 30px;
  border: 1px solid rgb(166, 166, 166);
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  letter-spacing: 12px;
  text-align: center;
}

body {
  font-family: Raleway, sans-serif;
}

footer {
  margin-top: 510px;
  background-color: rgb(175, 175, 175);
  padding: 80px 30px 1px;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding-top: 50px;
}

footer ul li {
  float: left;
}

footer ul li a {
  color: #4c4c4c;
  padding: 20px;
}

footer ul li a:hover {
  color: #7dabdb;
  text-decoration: none;
}

.footer-top {
  padding-bottom: 50px;
}

.footer-top .fa {
  font-size: 18px;
  color: #fff;
  padding-right: 20px;
}

.footer-top a {
  color: #fff;
  background: #333;
  padding: 10px;
}

.footer-top .col-lg-2:hover .fa,
.footer-top .col-lg-2:hover a {
  color: #7dabdb;
  text-decoration: none;
}

.copyright {
  background-color: #f0f0f0;
}

.copyright p {
  font-size: 12px;
  padding: 15px 0 10px;
}

#top {
  color: #fff;
  background: #7dabdb;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  right: 30px;
  position: fixed;
  border-radius: 3px;
  text-align: center;
  bottom: 50px;
}
